        :root {
         --primary-font: 'Roboto', sans-serif;
         --secondary-font: 'Raleway', sans-serif;
         --primery-text-color-theme-dark: #FFFFFF;
         --secondary-text-color-theme-dark: #F4F4FD;
         --primery-text-color-theme-light: #2E2F42;
         --secondary-text-color-theme-light: #434455;
         --accent-color: #404BBF;
        }
   
        body {
            font-family: 'Roboto', sans-serif;
            color: #434455;
            background-color: #FFFFFF;
            
            /*display: block;*/
        }
        
        .container {
            width: 1158px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
        }
        .list { 
            list-style: none;  
        }
        
        .link {
            text-decoration: none;
        }
        .page-header {
             background-color: #FFFFFF;
             border-bottom: 1px solid #e7e9fc;
        }
        .page-header-container {
            display: flex;
            padding-left: 15px;
            padding-right: 15px;
        }
        
        .modal-btn {
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            cursor: pointer;
            text-transform: uppercase;
            color: var(--primery-text-color-theme-light);
        }

        h1,
        h2,
        h3,
        p {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
        }

        ul {
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
        }

        img {
            display: block;
           
        }
        li {
            display: list-item;
            text-align: -webkit-match-parent;
        }
        /* Header*/


        .page-header {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e7e9fc;
        }

        .top-navigation {
            display: flex;
            align-items: center;
        }
        .menu {
            display: flex;
            gap: 40px;
        }
        .logo {
            font-family: var(--secondary-font);
            font-style: normal;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4D5AE5;
            margin-right: 76px;
        
        }
        .studio-logo {
            font-family: var(--secondary-font);
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            text-transform: uppercase;
            color: #2E2F42;
        
        }
        .menu-link {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--primery-text-color-theme-light);
            padding-top: 24px;
            padding-bottom: 24px;

        }
        
        .menu-link:hover,
        .menu-link:focus {
            color: var(--accent-color);
        }
        .adress {
            font-style: normal;
            display: flex;
            align-items: center;
            margin-left: auto;
        }
        
        .adress-contact {
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            display: block;
            padding-top: 24px;
            padding-bottom: 24px;
        
        }
        /*::after, ::before {
            box-sizing: border-box;
        }*/

        .adress-contact:hover,
        .adress-contact:focus {
            color: var(--accent-color);
        }
        .contact {
            display: flex;
            align-items: center;
            gap: 40px;
        }
        .contact-item {
            display: list-item;
        }
        
        .maine-page {
            margin: auto;
        }
        .feauter-one {
            background-color: #2E2F42;
            padding-top: 188px;
            padding-bottom: 188px;
        }
        .main-header {
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            color: #FFFFFF;
            max-width: 496px;
            margin-bottom: 48px;
            margin: auto;
        
        }
        .button {
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            background: #4D5AE5;
            cursor: pointer;
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            border-radius: 4px;
            padding: 16px 32px 16px 32px; 
            margin: auto;
            margin-top: 48px;

        }
        .button:hover,
        .button:focus {
            background-color: var(--accent-color);
        }

        .feauter-two {

            padding-top: 120px;
            padding-bottom: 120px;
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2E2F42;
            text-align: start;
            margin-top: 0;
            
        }

        .info-items {
            display: flex;
            gap: 24px;
            
        }
        .info-items:last-child {
            margin-right: 0;
        }

        .info-item {
            flex-basis: calc((100% - 72px) / 4);
        }
        

        /*.info-item {
            width: 264px;
            height: 104px; 
             
        }
        .first-text {
            flex-basis: calc((100% - 72px) / 4);
            
        }*/
        .section {
            
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2E2F42;
            text-align: start;
            margin-top: 0;
            margin-bottom: 8px;
        
        }
        .section-description {
          
            text-align: start;
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em; 
            color: #434455;
            margin-bottom: 0;

        }

        .feauter-three {
            padding-bottom: 120px;
        }
        .section-header {
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: capitalize;
            color: #2E2F42;
            margin-bottom: 72px;
            margin-top: 0;
        }

        .work-items {
            gap: 24px;
        }
        .work-items:last-child {
           display: flex;
        }
        
        .work-team {
            flex-basis: calc((100% - 72px) / 4);
        }
        .work-item {
            box-sizing: border-box;
            width: 360px;
            height: 300px;
            border: 1px solid#e7e9fc;
        }

        /*.section-header-list {
           
            gap: 24px;
        }*/

        .section-header-item {
            width: calc((100% - 48px) / 4);
        }
        /*.section-img {
            display: block;
    
        }*/ 

        /*section 4 */
        
        .feauter-four {
            background-color: #F4F4FD;
            padding-top: 120px;
            padding-bottom: 120px;
            
        }
        .section-header-title {
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: capitalize;
            color: var(--primery-text-color-theme-light);
            margin-bottom: 72px;
            margin-top: 0;
        }
        
        .section-header-list {
            gap: 24px;
        }
        .section-header-list:last-child {
            display: flex;
        }
       
        .section-header-item {
            background-color: #FFFFFF;
            width: 264px;
            height: 380px;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            border-radius: 0px 0px 4px 4px;
            
        }
        .team-company {
            flex-basis: calc((100% - 72px) / 4);
        }
        .name-position {
            padding: 32px 16px;
        }
        
        .secondary-section-img {
            width: 264px;
            height: 260px;
            mix-blend-mode: normal;
            flex: none;
            order: 0;
            flex-grow: 0;
            display: block;
        }
        
        .section-team {
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--primery-text-color-theme-light);
            text-align: center;
            margin-bottom: 8px;
            margin-top: 0;
            
        }
        .section-description-text {
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--secondary-text-color-theme-light);
            margin-bottom: 0px;

        }

        /*footer*/

        .footer {
            background-color: #2E2F42;
            padding-top: 100px;
            padding-bottom: 100px;
            /*margin: auto;
            width: 1440px;
            height: 312px;
            padding-top: 100px;
            padding-bottom: 100px;
            position: absolute;*/
        }

        .studio-logo-footer {
            align-items: center;
            padding: 0px;
            width: 115px;
            height: 24px;
            left: 156px;
            margin-bottom: 16px;
            color: #f4f4fd;

        }

        .logo-footer {
            display: inline-block;
            margin-bottom: 16px;
        }
        .footer-text {
            margin: 0;
            max-width: 264px;
            letter-spacing: 0.02em;
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            color: var(--primery-text-color-theme-dark);
        }
       /* portfolio*/


       .portfolio-btn {
        padding: 96px 0 120px;
       }

       .button-list {
        display: flex;
        justify-content: center;
        gap: 24px; 
        margin-bottom: 72px;
       }

       .button-portfolio {
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #4D5AE5;
            background-color: #F4F4FD;
            cursor: pointer;
            padding: 12px 24px;
            border: 1px solid #e7e9fc;
            border-radius: 4px;
       }

       .button-portfolio:hover,
       .button-portfolio:focus {
            color: #FFFFFF;
            background-color: var(--accent-color);
            border: 1px solid transparent;
       }

        .button-click {
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            color: #4D5AE5;

        }
        .work-items-portfolio {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
            
        }

        .section-work-item {
            text-decoration: none;
            width: calc((100% - 48px) / 3);
            
        }

        .container-portfolio {
            padding: 32px 16px;
            border: 1px solid #e7e9fc;
            border-top: none; 
        }
        .section-work-subject {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--primery-text-color-theme-light);
            margin-bottom: 8px;
        }   
        .section-work-text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--secondary-text-color-theme-light); 
        }



    
